{% extends "base.html" %}

{% block content %}

<section class="container p-4">
    <div class="row g-0 mb-4">
        <div class="col-12">
            <h1 class="text-center text-uppercase font-weight-bold">Bag</h1>
        </div>
    </div>
    <div class="row g-0">
        <div id="bag-content" class="col-12">
            {% include "bag/bag-content.html" %}
        </div>
    </div>
</section>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var appointmentId = $(this).data('appointment');
        var url = `/bag/remove/service/${itemId}/`;
        var postData = {
            'csrfmiddlewaretoken': csrfToken,
            'size': size,
            'appointment': appointmentId
        };
        $.post(url, postData)
         .done(function(res) {
             $(`#bag-content`).html(res.bag_content)
         }).fail(function() {
            location.reload();
         });
    })
</script>
{% endblock %}