{% extends "base.html" %}

{% block content %}

<section class="container p-4">
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="text-center text-uppercase font-weight-bold">Orders</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mx-auto">
            {% include "orders/orders-table.html" %}
        </div>
    </div>
</section>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    $('#orders').on('click', '.page-link', function () {
    let page = $(this).data('page');
    let currentUrl = new URL(window.location);
    currentUrl.searchParams.set("page", page);
    let filterUrl = new URL(currentUrl);
    filterUrl.pathname = filterUrl.pathname.replace('orders', 'orders/filter');
    $.get(filterUrl).done(function (data) {
        $('#orders').html(data.orders);
        window.history.pushState({}, '', currentUrl);
    });
});
</script>
{% endblock %}