<div class="table-responsive">
    <table class="table table-sm table-borderless">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Date</th>
                <th>Items</th>
                <th>Order Total</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>
                        <a href="{% url 'order_details' order.order_number %}"
                        title="{{ order.order_number }}">
                            {{ order.order_number|truncatechars:6 }}
                        </a>
                    </td>
                    <td>{{ order.date }}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% for item in order.lineitems.all %}
                                <li class="small">
                                    Size {{ item.service.size }} {{ item.service.name }} x{{ item.quantity }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>£{{ order.grand_total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if orders.paginator.num_pages > 1%}
    <div class="mt-4">
        <ul class="pagination justify-content-center">
          <li class="page-item{% if not orders.has_previous %} disabled{% endif %}">
            <a class="page-link" href="javascript:void(0);" data-page="1" aria-label="First">
               <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% if orders.has_previous %}
          <li class="page-item active">
            <a class="page-link" href="javascript:void(0);" data-page="{{ orders.previous_page_number }}">{{ orders.previous_page_number }}</a>
          </li>
          {% endif %}
          <li class="page-item">
            <a class="page-link" href="javascript:void(0);" data-page="{{ orders.number }}">{{ orders.number }}</a>
          </li>
          {% if orders.has_next %}
          <li class="page-item">
            <a class="page-link" href="javascript:void(0);" data-page="{{ orders.next_page_number }}">{{ orders.next_page_number }}</a>
          </li>
          {% endif %}
          <li class="page-item{% if not orders.has_next %} disabled{% endif %}">
            <a class="page-link" href="javascript:void(0);" data-page="{{ orders.paginator.num_pages }}" aria-label="Last">
               <span aria-hidden="true"> &raquo;</span>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
</div>