.allauth-form-inner-content label {
    margin-bottom: 0.5rem;
}

.allauth-form-inner-content input,
.allauth-form-inner-content select,
.allauth-form-inner-content .form-check-label {
    margin-bottom: 1rem;
}

#calendar .disabled {
    color: #868e96;
}

#calendar .availability-1 {
    background-color: red;
}

#calendar .availability-2 {
    background-color: orange;

}

#calendar .availability-3 {
    background-color: green;
}
