{% extends "base.html" %}

{% block content %}
{% load services_tools %}

<section class="container p-4">
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="text-center text-uppercase font-weight-bold">Appointments</h1>
        </div>
    </div>
    <div class="row">
        <div id="calendar" class="col-12 col-md-10 col-lg-8 mx-auto">
            <div class="d-flex justify-content-between mb-2">
                <button id="prev-month" class="btn ms-3" disabled>
                    <i class="fas fa-chevron-left"></i>
                </button>
                <h5 class="fw-bold">{{ month }} {{ year }}</h5>
                <button id="next-month" class="btn me-3">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
            <table class="table table-borderless text-center">
                <thead>
                    <tr scope="col">
                        <th>S</th>
                        <th>M</th>
                        <th>T</th>
                        <th>W</th>
                        <th>T</th>
                        <th>F</th>
                        <th>S</th>
                    </tr>
                </thead>
                <tbody>
                    {% for week in calendar %}
                    <tr>
                        {% for day in week %}
                        {% if day > 0 %}
                        <td class="{{ classes|index:day}}">{{ day }}</td>
                        {% else %}
                        <td class="disabled"></td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-10 col-lg-8 mx-auto mt-4 d-none">
            <form id="appointments-form" action="{% url 'add_service_to_bag' service.id %}" method="POST">
                {% csrf_token %}
                {{ form.appointments | as_crispy_field }}
                {{ form.sizes | as_crispy_field }}
                {{ form.comments | as_crispy_field }}
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    let month = $('#calendar h5').text().split(' ')[0];
    let year = parseInt($('#calendar h5').text().split(' ')[1]);
    let csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
    let startDate = new Date(
        new Date().getFullYear(),
        new Date().getMonth(),
        new Date().getDate() + 1
    );
    let endDate = new Date(
        startDate.getFullYear(),
        startDate.getMonth(),
        startDate.getDate() + 55
    );

    $('#calendar button').click(function () {
        let months = {
            '0': 'January',
            '1': 'February',
            '2': 'March',
            '3': 'April',
            '4': 'May',
            '5': 'June',
            '6': 'July',
            '7': 'August',
            '8': 'September',
            '9': 'October',
            '10': 'November',
            '11': 'December'
        }
        if ($(this).attr('id') === 'prev-month') {
            let date = new Date(`01 ${month} ${year}`)
            if (month === 'January') {
                month = months['11']
                year = parseInt(year - 1)
                date.setMonth(11)
                date.setFullYear(year)
            } else {
                month = months[date.getMonth() - 1]
                date.setMonth(date.getMonth() - 1)
            }
            $.get(`/services/1/appointments/${date.getMonth() + 1}/${date.getFullYear()}/`).done(function (res) {
                $('#calendar h5').text(`${res.month} ${res.year}`);
                let html = ''
                for (let w in res.calendar) {
                    html += '<tr>';
                    for (let d in res.calendar[w]) {
                        if (res.calendar[w][d] > 0) {
                            date.setDate(parseInt(res.calendar[w][d]))
                            let day = parseInt(res.calendar[w][d])
                            if (res.calendar[w][d] > 0 && date >= startDate && date <= endDate) {
                                html += `<td class=${res.classes[day - 1]}>${day}</td>`;
                            } else {
                                html += `<td class="disabled">${day}</td>`;
                            }
                        } else {
                            html += '<td class="disabled"></td>';
                        }
                    }
                    html +='</tr>';
                }
                $('#calendar tbody').html(html);
                date.setDate(1)
                if (startDate >= date) {
                    $('#prev-month').attr('disabled', true);
                    $('#next-month').attr('disabled', false);
                } else {
                    $('#prev-month').attr('disabled', false);
                    $('#next-month').attr('disabled', false);
                }
            });
        } else {
            let date = new Date(`01 ${month} ${year}`)
            if (month === 'December') {
                month = months['0']
                year = parseInt(year + 1)
                date.setMonth(0)
                date.setFullYear(year)
            } else {
                month = months[date.getMonth() + 1]
                date.setMonth(date.getMonth() + 1)
            }
            $.get(`/services/1/appointments/${date.getMonth() + 1}/${date.getFullYear()}/`).done(function (res) {
                $('#calendar h5').text(`${res.month} ${res.year}`);
                let html = ''
                for (let w in res.calendar) {
                    html += '<tr>';
                    for (let d in res.calendar[w]) {
                        if (res.calendar[w][d] > 0) {
                            date.setDate(parseInt(res.calendar[w][d]))
                            let day = parseInt(res.calendar[w][d])
                            if (res.calendar[w][d] > 0 && date >= startDate && date <= endDate) {
                                html += `<td class="${res.classes[day - 1]}">${day}</td>`;
                            } else {
                                html += `<td class="disabled">${day}</td>`;
                            }
                        } else {
                            html += '<td class="disabled"></td>';
                        }
                    }
                    html +='</tr>';
                }
                $('#calendar tbody').html(html);
                date.setDate(1)
                date.setMonth(date.getMonth() + 1)
                if (endDate < date) {
                    $('#prev-month').attr('disabled', false);
                    $('#next-month').attr('disabled', true);
                } else {
                    $('#prev-month').attr('disabled', false);
                    $('#next-month').attr('disabled', false);
                }
            });
        }
    });

    $('td').each(function () {
        if (parseInt($(this).text()) < startDate.getDate()) {
            $(this).addClass('disabled');
        }
    });

    $('#calendar').on('click', 'td:not(".disabled")', function () {
        let day = $(this).text();
        let date = new Date(`${day} ${month} ${year}`);
        let postData = {
            csrfmiddlewaretoken: csrfToken,
            date: date.toLocaleDateString(),
        };
        $.post(window.location, postData).done(function (res) {
            $('#id_appointments option:gt(0)').remove()
            let html = '';
            for (let i in res.appointments) {
                let appointmentTime = `${postData.date} ${res.appointments[i]}`
                html += `<option value="${appointmentTime}">${res.appointments[i]}</option>`;
            }
            $('#id_appointments').append(html);
            $('#appointments-form').parent().removeClass('d-none');
        });
    });
</script>
{% endblock %}