{% extends "base.html" %}

{% block content %}

<section class="container p-4">
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="text-center text-uppercase font-weight-bold">Services</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% for service in object_list %}
            <div class="card border-primary rounded-2{% if forloop.counter < object_list|length %} mb-4{% endif %}">
                <div class="card-body">
                    <h5 class="card-title fw-bold mb-3">{{ service.name }}</h5>
                    <p class="card-text">{{ service.size }}</p>
                    <p class="card-text">£{{ service.price|floatformat:"2" }}</p>
                    <p class="card-text">{{ service.description }}</p>
                    <a href="{% url 'service_appointments' service.id %}" class="btn btn-primary">Book Appointment</a>
                </div>
              </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}